<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Page Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>

<body class="bg-gray-700 font-sans">
    <div class="container mx-auto p-8">
        <h1 class="text-3xl font-bold mb-4 text-center text-white">Welcome Dear</h1>
        <div class="flex space-x-4">
            <a href="register" class="flex items-center justify-center w-1/2 bg-blue-500 hover:bg-blue-600 text-white py-3 rounded-lg">
                <button class="focus:outline-none">Register</button>
            </a>
            <a href="login" class="flex items-center justify-center w-1/2 bg-green-500 hover:bg-green-600 text-white py-3 rounded-lg">
                <button class="focus:outline-none">Login</button>
            </a>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>
